<div class="modal-body">
    <div class="line row">
        <label for="firstName">First name</label>
        <div class="col-md-2 col-12" ng-model="vm.data.firstName"></div>
    </div>
    <div class="line row">
        <label for="lastName">Last name</label>
        <div class="col-md-2 col-12" ng-model="vm.data.lastName"> </div>
    </div>
    <div class="line row">
        <label for="email">Email</label>
        <div class="col-md-2 col-12" ng-model="vm.data.email"> </div>
    </div>
    <div class="line row">
       <label for="phoneNumber">Phone number</label>
        <div class="col-md-2 col-12" ng-model="vm.data.phoneNumber"> </div>
    </div>
    <div class="modal-footer">
        <button ng-click="vm.modalnoOkno.preklici()" type="button" class="btn btn-default btn-sm">
            Close
        </button>
    </div>
</div>