<naviga></naviga>
<div role="alert" ng-show="vm.msg" class="alert alert-info">{{ vm.msg }}</div>

<div class="contact">
    <form>
        <div class="email-group row">
            <label class="login-label col-lg-1" for="email">E mail:</label
            ><input class="input col" id="email" type="email" name="email" required="required" />
        </div>
        <div class="message-group row">
            <label class="login-label col-lg-1" for="message">Message:</label
            ><textarea
                class="input col"
                id="message"
                type="text"
                name="message"
                required="required"
                ng-model="vm.text"
            ></textarea>
        </div>
        <button ng-click="vm.sendMessage()" class="btn btn-primary">Send</button>
    </form>
    <!-- <div id="mapfit" style="width: 100%; height: 435px;"></div> -->
</div>
<mapboxgl></mapboxgl>

<!-- maps
<script src="https://cdn.mapfit.com/v2-4/assets/js/tetragon.js"></script>
<script src="https://cdn.mapfit.com/v2-4/assets/js/mapfit.js"></script>
<script src="javascripts/maps.js"></script> -->
