extends layout
block content

    .container-fluid.mt-2
      .main-content
        #list.col-xs-12.col-md-12.col-sm-12
          .third-r
            .line.row
              .edit-buttons.col-md-4.col-12
                a.btn.mr-4(onclick="deleteAll()") Delete DB
                a.btn.mr-4(onclick="loadPresets()") Add presets