extends layout
block content

    .container-fluid
        form(action="/inventory/add" method="POST" onsubmit="return inventoryForm(event)")
            .form-group
                label(for="itemName") Item
                input#itemname.form-control(type="text" name="itemName" placeholder="Enter item name" required)
            .form-group
                label(for="description") Description
                input#description.form-control(type="text" name="description" placeholder="Enter description" required)
            .form-group
                label(for="quantity") Quantity
                input#quantity.form-control(type="text" name="quantity" placeholder="Enter quantity" required)
            a.btn.btn-secondary.mr-4(href="/inventory") Back
            input.btn.btn-secondary(type="submit" value="Submit")