extends layout

block content
    // content change for page
    .bg-img
    .login-form
      form.login-form-inside(action="#")
        .email-group
          label.login-label(for="email") E mail:
          input.login-input(type="email" name="email")
        .pass-group
          label.login-label(for="pass") Password:
          input.login-input(type="password" name="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}")
        button.btn.btn-primary Login
        a.btn.btn-primary(href="/register") Register
