extends layout

include _include/commonFunctions.pug

block content
    // content change for page
    .bg-img
    .login-form
      form.login-form-inside(action="#" onsubmit="return login(event)")
        +emailPass()
        button.btn.btn-primary Login
        a.btn.btn-primary(href="/register") Register
