extends layout
include _include/commonFunctions.pug
include _include/commonFunctions.pug

block content
  .bg-img
  .register-form
    form.login-form-inside(action="#")
      .first-name-group
        label#firstname.login-label(for="firstName") First name:
        input.login-input(type="text" name="firstName" required)
      .last-name-group
        label#lastname.login-label(for="lastName") Last name:
        input.login-input(type="text" name="lastName" required)
      +emailPass()
      .pass-confirm-group
        label#pass2.login-label(for="passConf") Confirm password:
        input.login-input(type="password" name="passConf" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" )
      button.btn.btn-primary Register
