extends layout
include _include/commonFunctions.pug


block content
  .bg-img
  .register-form
    form.login-form-inside(action="#" onsubmit="return register(event)")
      .first-name-group
        label.login-label(for="firstName") First name:
        input#firstname.login-input(type="text" name="firstName" required)
      .last-name-group
        label.login-label(for="lastName") Last name:
        input#lastname.login-input(type="text" name="lastName" required)
      +emailPass()
      .pass-confirm-group
        label.login-label(for="passConf") Confirm password:
        input#pass2.login-input(type="password" name="passConf" required )
      button.btn.btn-primary Register
  
