extends layout
block content

    .container-fluid
        form(action="/services/add" method="POST" onsubmit="return serviceForm(event)")
            .form-group
                label(for="firstName") First name
                input#firstname.form-control(type="text" name="firstName" placeholder="Enter first name" required)
            .form-group
                label(for="lastName") Last name
                input#lastname.form-control(type="text" name="lastName" placeholder="Enter last name" required)
            .form-group
                label(for="email") Email
                input#email.form-control(type="text" name="email" placeholder="Enter email" required)
            .form-group
                label(for="phoneNumber") Phone number
                input#phonenumber.form-control(type="text" name="phoneNumber" placeholder="+386..." required)
            .form-group
                label(for="time") Time
                input#time.form-control(type="datetime-local" name="time" placeholder="yyyy-mm-dd hh:hh" required)
            .form-group
                label(for="type") Type
                select#item.form-control(name="type")
                    option(value="Mali servis") Mali servis
                    option(value="Veliki servis") Veliki servis
                    option(value="Menjava gum") Menjava gum
                    option(value="Tehnični pregled") Tehnični pregled
            a.btn.btn-secondary.mr-4(href="/services") Back
            input.btn.btn-secondary(type="submit" value="Submit")