.scrollable {
    overflow-y: scroll;
    bottom:0;
    
  
}

#list{
    overflow-y:visible;
}

#detail{
    display: none;
}

.contact {
    padding: 2em;
}

.input {
    border: 1px solid #000000
}

textarea {
    vertical-align: top;
}


.contact-form {
    margin: 10px;
}

.contact-form .row {
    margin-bottom: 10px;
}