.scrollable {
    overflow-y: scroll;
    bottom: 0;


}

#body {
    top: 0px;
}



#list {
    overflow-y: visible;
}

#detail {
    display: none;
}

.contact {
    padding: 2em;
}

.input {
    border: 1px solid #000000
}

textarea {
    vertical-align: top;
}


.contact-form {
    margin: 10px;
}

.contact-form .row {
    margin-bottom: 10px;
}

#list .row {
    border-bottom: 1px solid #858585;
    padding: 1em;
}



@media screen and (max-width: 768px) {
    .table-header {
        display: none
    }
}