mixin emailPass()
    .email-group
      label.login-label(for="email") E mail:
      input#email.login-input(type="email" name="email"  required)
    .pass-group
      label.login-label(for="pass") Password:
      input#pass.login-input(type="password" name="pass" required)