<naviga></naviga>

<div role="alert" ng-show="vm.msg" class="alert alert-info">{{ vm.msg }}</div>
<div class="container-fluid mt-2">
    <div class="main-content">
        <div class="col-xs-12 col-md-12 col-sm-12" id="list">
            <div class="third-r">
                <div class="line row">
                    <div class="edit-buttons col-md-4 col-12"><a class="btn btn-danger mr-4" ng-click="vm.deleteAll()">Delete DB</a><a class="btn btn-info mr-4" ng-click="vm.loadPresets()">Add presets</a></div>
                </div>
            </div>
        </div>
    </div>
</div>