extends layout
block content

    .contact
        form.contact-form(action="#" onsubmit="return contact(event)")
            .email-group.row
                label.login-label.col-lg-1(for="email") E mail:
                input#email.input.col(type="email" name="email" required)
            .message-group.row
                label.login-label.col-lg-1(for="message") Message:
                textarea#message.input.col(type ="text" name="message" required)
            button.btn.btn-primary Send
        #mapfit(style="width: 100%; height: 435px;")
    // maps
    script(src="https://cdn.mapfit.com/v2-4/assets/js/tetragon.js")
    script(src="https://cdn.mapfit.com/v2-4/assets/js/mapfit.js")
    script(src="javascripts/maps.js")
